jupyterlab
pandas
matplotlib
bokeh
flask
gunicorn
odfpy
jupyterlab_vim
pyarrow
gpxpy
scipy
import-ipynb @ https://github.com/StuffyMonkey/import-ipynb/archive/refs/heads/master.zip
jupyter_nbextensions_configurator
fitparse
gpxpy
